In [ ]:
# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns #Used for data visualization. Built on top of matplotlib.
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

# Load dataset with pandas library
d = pd.read_csv("/Users/abhinavgupta/Library/Mobile Documents/com~apple~CloudDocs/social media advertisement/dataset sma/ad_events.csv")

# Quick check
d.head()

,event_id,ad_id,user_id,timestamp,day_of_week,time_of_day,event_type
0,1,197,2359b,2025-07-26 00:19:56,Saturday,Night,Like
1,2,51,f9c67,2025-06-15 08:28:07,Sunday,Morning,Share
2,3,46,5b868,2025-06-27 00:40:02,Friday,Night,Impression
3,4,166,3d440,2025-06-05 19:20:45,Thursday,Evening,Impression
4,5,52,68f1a,2025-07-22 08:30:29,Tuesday,Morning,Impression

In [ ]:
d.shape # R over C (ps)

(400000, 7)

In [ ]:
d.dtypes #(ps)

event_id        int64
ad_id           int64
user_id        object
timestamp      object
day_of_week    object
time_of_day    object
event_type     object
dtype: object

In [ ]:
d.describe()

            event_id          ad_id
count  400000.000000  400000.000000
mean   200000.500000     100.535965
std    115470.198175      57.775915
min         1.000000       1.000000
25%    100000.750000      51.000000
50%    200000.500000     101.000000
75%    300000.250000     151.000000
max    400000.000000     200.000000

In [21]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400000 entries, 0 to 399999
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   event_id     400000 non-null  int64
 1   ad_id        400000 non-null  int64
 2   user_id      400000 non-null  object
 3   timestamp    400000 non-null  object
 4   day_of_week  400000 non-null  object
 5   time_of_day  400000 non-null  object
 6   event_type   400000 non-null  object
dtypes: int64(2), object(5)
memory usage: 21.4+ MB

In [22]:
d.duplicated().sum()

0

In [23]:
d.isna().sum() #checking for null data point

event_id       0
ad_id          0
user_id        0
timestamp      0
day_of_week    0
time_of_day    0
event_type     0
dtype: int64